<!DOCTYPE html>
<html lang="en">

<head>


    <title>Circuit Finder</title>

    <meta content='initial-scale=1,maximum-scale=1,user-scalable=no' name='viewport'/>
    <link crossorigin="" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          rel="stylesheet"/>
    <link href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/sidebar.js"></script>


    <link href="style/leaflet-routing-machine.css" rel="stylesheet"/>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<body>

<div id="mySidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
</div>

<div id="mapid">
</div>

<script crossorigin=""
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"> //Leaflet's JS Scripts
</script>

<script src="js/leaflet-routing-machine.js">//routing script file</script>
<script>
    //initialising the map
    var mymap = L.map('mapid').setView([50.00, -14.00], 10);

    L.tileLayer('https://api.mapbox.com/styles/v1/tearnawn/ck3w0mfll2gpy1cllwbt1ak92/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        accessToken: 'pk.eyJ1IjoidGVhcm5hd24iLCJhIjoiY2sybHhjam55MGF3bTNtbG5xamMybXpqcSJ9.yTHJ13Xc3WGcbj4zGM6VyQ'
    }).addTo(mymap);

    $.getJSON("features.geojson", function (data) {
        // loading in the file and adding it to the map
        var datalayer = L.geoJson(data, {
            onEachFeature: function (feature, featureLayer) {
                featureLayer.bindPopup("<dl></dt>" + "<dd>" + feature.properties.Name + "</dd>"
                    + "<dd>" + feature.properties.description + "</dd>");
            }
        }).addTo(mymap);
        mymap.fitBounds(datalayer.getBounds());
    });


    if (navigator.geolocation) {
        window.navigator.geolocation.getCurrentPosition(function (pos) {
            var lat = pos.coords.latitude;
            var lon = pos.coords.longitude;
            var circle = L.circle([lat, lon], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.3,
                radius: 30
            }).addTo(mymap);
            console.log(pos);

            L.Routing.control({
                waypoints: [
                    L.latLng(pos.coords.latitude, pos.coords.longitude),
                    L.latLng(pos.coords.latitude, pos.coords.longitude)
                ],
                routeWhileDragging: true
             }).addTo(mymap);

        });
    }


</script>


</body>
</html>